:443 {
	tls internal {
		on_demand
	}

	@websocket {
		path /ws/*
		header Connection *Upgrade*
		header Upgrade websocket
	}
	reverse_proxy @websocket backend:8000

	handle /api/* {
		reverse_proxy backend:8000
	}

	handle {
		reverse_proxy frontend:3000
	}
}

:80 {
	redir https://157.180.85.151{uri} permanent
}
