alvin.sarfarazmulla.com, alvin.valuecurve.co, alvin.valuecurve.ai {
	@websocket {
		path /ws/*
		header Connection *Upgrade*
		header Upgrade websocket
	}
	reverse_proxy @websocket backend:8000

	handle /api/* {
		reverse_proxy backend:8000
	}

	handle {
		reverse_proxy frontend:3000
	}
}
